* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

// FONTS START
@font-face {
	font-family: Louis_George_Cafe_BI;
	src: url("../font/Louis George Cafe Bold Italic.ttf");
}

@font-face {
	font-family: Louis_George_Cafe_B;
	src: url("../font/Louis George Cafe Bold.ttf");
	font-weight: 900;
}

@font-face {
	font-family: Louis_George_Cafe_I;
	src: url("../font/Louis George Cafe Italic.ttf");
}

@font-face {
	font-family: Louis_George_Cafe_LI;
	src: url("../font/Louis George Cafe Light Italic.ttf");
}

@font-face {
	font-family: Louis_George_Cafe_L;
	src: url("../font/Louis George Cafe Light.ttf");
}

@font-face {
	font-family: Louis_George_Cafe_R;
	src: url("../font/Louis George Cafe.ttf");
	font-weight: 600;
}

.bold {
	font-family: Louis_George_Cafe_B;
}

.reg {
	font-family: Louis_George_Cafe_R;
}
// FONTS END

// VARIABLES START
$color1: #074000;
$color2: #2db000;
$color3: #44b81c;
$color4: #a9df00;
// VARIABLES END

// GLOBAL START
html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
	font-family: Louis_George_Cafe_R;
}

// @media screen and (max-width: 992px) {
// 	html {
// 		font-size: 100%;
// 	}
// }
// @media screen and (max-width: 668px) {
// 	html {
// 		font-size: 92%;
// 	}
// }
// @media screen and (max-width: 575px) {
// 	html {
// 		font-size: 88%;
// 	}
// }
// @media screen and (max-width: 475px) {
// 	html {
// 		font-size: 84%;
// 	}
// }
// @media screen and (max-width: 380px) {
// 	html {
// 		font-size: 80%;
// 	}
// }
// @media screen and (max-width: 280px) {
// 	html {
// 		font-size: 76%;
// 	}
// }

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f22 {
	font-size: 1.375rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f32 {
	font-size: 2rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
	line-height: 57px;
}

.f50 {
	font-size: 3.125rem;
	line-height: 65px;
}

.f64 {
	font-size: 4rem;
	line-height: 71px;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

.bottom_line {
	border-bottom: 4px solid #aae000;
}

// COLORS
.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.page_container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page_container3 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8rem;
	margin-bottom: 4rem;
}

.page_container2 {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8rem;
	margin-bottom: 4rem;
}

// HEADER START
.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 2;

	.logo_container {
		img {
			width: 150px;
			height: auto;
		}
	}

	.avatar {
		width: 35px;
		height: auto;
	}

	.nav_container {
		ul {
			li {
				padding-left: 12px;
				padding-right: 12px;
				border-left: 1px solid #074001;
				border-right: 1px solid #074001;

				&:nth-child(1) {
					border-left: none;
				}

				&:nth-child(4) {
					border-right: none;
				}

				a {
					color: $color2;
					text-decoration: none;
					font-weight: 600;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
// HEADER END

.body_bg {
	background-image: url("../images/body_bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.body_bg2 {
	background-image: url("../images/bg2.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

// HERO START
.hero_container {
	background-image: url("../images/hero.svg");
	width: 100%;
	height: 122vh;
	background-position: center;
	background-repeat: no-repeat;

	.inner_hero {
		margin-top: -5rem;
	}

	.hero_img_container {
		max-width: 600px;
		width: 100%;
	}

	button {
		color: #fff;
		background-color: $color1;
		border: 2px solid #fff;
		padding: 0.6rem 2.2rem;
	}
}
// HERO END

// ABOUT START
.about_container {
	margin-top: -10rem;

	.inner_about_container {
		background: #fff;
		box-shadow: 1px 1px 20px rgb(228, 228, 228);
	}
}
// ABOUT END

// SCHEDULE START
.sch_container {
	button {
		background: transparent;
		border: 2px solid $color1;
	}
}
// SCHEDULE END

// ABOUT BELOW START
.about_below_container {
	.about1 {
		background-image: url("../images/about_below/i1.svg");
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: #ace00093;
		}

		img {
			max-width: 120px;
			width: 100%;
			z-index: 1;
		}

		h2 {
			z-index: 1;
		}
	}

	.about2 {
		background-image: url("../images/about_below/i2.svg");
		height: 300px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: #ace00093;
		}

		img {
			max-width: 120px;
			z-index: 1;
			width: 100%;
		}

		h2 {
			z-index: 1;
		}
	}
}
// ABOUT BELOW END

// CHOOSE START
.choose_container {
	.choose_bg {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		box-shadow: 1px 1px 10px #ccc;

		img {
			max-width: 1000px;
			width: 100%;
			margin-top: -1rem;
		}
	}
}
// CHOOSE END

// FOOTER START
.footer_container {
	background-color: $color1;

	.first_footer {
		img {
			max-width: 300px;
			width: 100%;
		}
	}
}
// FOOTER END

// CONTACT START
.contact_body_container {
	.first {
		color: #fff;
		background: $color1;

		input {
			height: 35px;
			border-radius: 50px;
			border: none;
			padding: 0rem 0.8rem;

			&:focus {
				outline: none;
			}
		}

		button {
			border: 2px solid #fff;
			background: $color4;
		}
	}

	.second {
		background: #a8de00;
	}
}
// CONTACT END

// SIDEBAR START
.w3-sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed !important;
	z-index: 1;
	overflow: auto;
}

.w3-bar-block .w3-dropdown-hover,
.w3-bar-block .w3-dropdown-click {
	width: 100%;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
	min-width: 100%;
}

.w3-bar-block .w3-bar-item {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0;
}

.w3-bar-block.w3-center .w3-bar-item {
	text-align: center;
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
	width: 100%;
	text-align: left;
	padding: 8px 16px;
}

.w3-card,
.w3-card-2 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-card-4,
.w3-hover-shadow:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-animate-left {
	position: relative;
	animation: animateleft 0.4s;
}

.w3-sidebar.w3-collapse {
	display: none;
}

.bi-plus-lg::before {
	transform: rotate(45deg);
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@media (min-width: 993px) {
	.w3-modal-content {
		width: 900px;
	}
}
@media (max-width: 992px) {
	.w3-main {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.w3-auto {
		max-width: 100%;
	}
}
// SIDEBAR END

// BOOKING LIVING START
.booking_living {
	background-color: $color4;
	border-radius: 10px;
	box-shadow: 1px 1px 3px $color4;

	.cal_box {
		box-shadow: 1px 1px 3px $color1;
		border: 4px solid $color1;
		border-radius: 20px;
		background: $color1;

		&:nth-child(1).fir {
			box-shadow: 1px 1px 3px #000;
			border: 4px solid $color4;
			border-radius: 20px;
			background: $color1;
			color: $color4;
		}
	}
}
// BOOKING LIVING END

// DATE PICKER START
.picker_ {
	text-align: center;
	background: $color1;
	color: #fff;
	max-width: 400px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.first_bx {
	button {
		background-color: $color1;
		color: #fff;
		border: 2px solid #fff;
	}
}
// DATE PICKER END

// BOOKING CALCULATOR START
.booking_summary {
	background: $color1;
	color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 3px $color1;
	position: sticky;
	top: 2rem;
	width: 100%;

	button {
		background: $color4;
	}
}
// BOOKING CALCULATOR END

// MEDIA START
@media screen and (max-width: 998px) {
}

@media screen and (max-width: 768px) {
	.header_container .logo_container img {
		width: 125px;
		height: auto;
	}
	.second_inner {
		margin-top: -3rem;
	}
	.hero_container .hero_img_container {
		max-width: 250px;
		width: 100%;
	}
	.footer_container .first_footer img {
		max-width: 260px;
		width: 100%;
	}
	.page_container2 {
		margin-top: 5rem;
		margin-bottom: 0rem;
	}
}

@media screen and (max-width: 575px) {
}
// MEDIA END
