* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Louis_George_Cafe_BI;
  src: url("../font/Louis George Cafe Bold Italic.ttf");
}

@font-face {
  font-family: Louis_George_Cafe_B;
  src: url("../font/Louis George Cafe Bold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Louis_George_Cafe_I;
  src: url("../font/Louis George Cafe Italic.ttf");
}

@font-face {
  font-family: Louis_George_Cafe_LI;
  src: url("../font/Louis George Cafe Light Italic.ttf");
}

@font-face {
  font-family: Louis_George_Cafe_L;
  src: url("../font/Louis George Cafe Light.ttf");
}

@font-face {
  font-family: Louis_George_Cafe_R;
  src: url("../font/Louis George Cafe.ttf");
  font-weight: 600;
}

.bold {
  font-family: Louis_George_Cafe_B;
}

.reg {
  font-family: Louis_George_Cafe_R;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-family: Louis_George_Cafe_R;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f22 {
  font-size: 1.375rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f32 {
  font-size: 2rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
  line-height: 57px;
}

.f50 {
  font-size: 3.125rem;
  line-height: 65px;
}

.f64 {
  font-size: 4rem;
  line-height: 71px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.bottom_line {
  border-bottom: 4px solid #aae000;
}

.color1 {
  color: #074000;
}

.color2 {
  color: #2db000;
}

.color3 {
  color: #44b81c;
}

.color4 {
  color: #a9df00;
}

.page_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page_container2 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.header_container .logo_container img {
  width: 150px;
  height: auto;
}

.header_container .avatar {
  width: 35px;
  height: auto;
}

.header_container .nav_container ul li {
  padding-left: 12px;
  padding-right: 12px;
  border-left: 1px solid #074001;
  border-right: 1px solid #074001;
}

.header_container .nav_container ul li:nth-child(1) {
  border-left: none;
}

.header_container .nav_container ul li:nth-child(4) {
  border-right: none;
}

.header_container .nav_container ul li a {
  color: #2db000;
  text-decoration: none;
  font-weight: 600;
}

.header_container .nav_container ul li a:focus {
  outline: none;
}

.body_bg {
  background-image: url("../images/body_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.body_bg2 {
  background-image: url("../images/bg2.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hero_container {
  background-image: url("../images/hero.svg");
  width: 100%;
  height: 122vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_container .inner_hero {
  margin-top: -5rem;
}

.hero_container .hero_img_container {
  max-width: 600px;
  width: 100%;
}

.hero_container button {
  color: #fff;
  background-color: #074000;
  border: 2px solid #fff;
  padding: 0.6rem 2.2rem;
}

.about_container {
  margin-top: -10rem;
}

.about_container .inner_about_container {
  background: #fff;
  -webkit-box-shadow: 1px 1px 20px #e4e4e4;
          box-shadow: 1px 1px 20px #e4e4e4;
}

.sch_container button {
  background: transparent;
  border: 2px solid #074000;
}

.about_below_container .about1 {
  background-image: url("../images/about_below/i1.svg");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.about_below_container .about1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ace00093;
}

.about_below_container .about1 img {
  max-width: 120px;
  width: 100%;
  z-index: 1;
}

.about_below_container .about1 h2 {
  z-index: 1;
}

.about_below_container .about2 {
  background-image: url("../images/about_below/i2.svg");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.about_below_container .about2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ace00093;
}

.about_below_container .about2 img {
  max-width: 120px;
  z-index: 1;
  width: 100%;
}

.about_below_container .about2 h2 {
  z-index: 1;
}

.choose_container .choose_bg {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
}

.choose_container .choose_bg img {
  max-width: 1000px;
  width: 100%;
  margin-top: -1rem;
}

.footer_container {
  background-color: #074000;
}

.footer_container .first_footer img {
  max-width: 300px;
  width: 100%;
}

.contact_body_container .first {
  color: #fff;
  background: #074000;
}

.contact_body_container .first input {
  height: 35px;
  border-radius: 50px;
  border: none;
  padding: 0rem 0.8rem;
}

.contact_body_container .first input:focus {
  outline: none;
}

.contact_body_container .first button {
  border: 2px solid #fff;
  background: #a9df00;
}

.contact_body_container .second {
  background: #a8de00;
}
/*# sourceMappingURL=style.css.map */